.my-loader {
  position: relative;
  z-index: 5;
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    color: $blue;
  }
  &-spin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &-spin {
    display: inline-block;
    width: 1em;
    height: 1em;
    font-size: $loader-dot-md;
    transform: rotate(30deg);
    animation: loaderMove 1.2s linear infinite;
    &-dot {
      position: absolute;
      display: block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $blue;
      transform: scale(0.7);
      transform-origin: 50% 50%;
      opacity: 0.3;
      animation: loaderDotMove 1s linear infinite alternate;

      &:first-child {
        left: 0;
        top: 0;
      }
      &:nth-child(2) {
        top: 0;
        right: 0;
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        bottom: 0;
        right: 0;
        animation-delay: 0.4s;
      }
      &:nth-child(4) {
        bottom: 0;
        left: 0;
        animation-delay: 0.8s;
      }
    }
  }
  /** 大小 */
  &-sm {
    font-size: $loader-dot-sm;
    i {
      width: 6px;
      height: 6px;
    }
  }

  &-lg {
    font-size: $loader-dot-lg;
    i {
      width: 12px;
      height: 12px;
    }
  }
  /** 自定义文字 */
  &-text {
    font-size: 14px;
  }
  /** 有children时 */
  &-mask {
    z-index: 3;
    clear: both;
    overflow: hidden;
    opacity: 0.6;
    user-select: none;
    pointer-events: none;

  }
}

@keyframes loaderMove {
  to {
    transform: rotate(390deg);
  }
}
@keyframes loaderDotMove {
  to {
    opacity: 1;
  }
}
