.example {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(230, 247, 255);
    border-radius: 4px;
  }
  .example-2 {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgb(24, 144, 255);
    border-radius: 4px;
  }