.flex-demo {
  width: 80%;
  border: 1px solid royalblue;
  margin: 20px auto;
  .my-flex-box-item {
    background-color: #3498ff;
    color: #fff;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 10px 5px;
    text-align: center;
  }
  .my-flex-box-item:nth-child(2n){
      opacity: 0.7;
  }
}
