@each $key, $val in $theme-colors{
  .icon-#{$key} {
    color: $val;
  }
}
@keyframes loading-360 {
  0% {
    transform: rotate(0deg); /*动画起始的时候旋转了0度*/
  }
  100% {
    transform: rotate(360deg); /*动画结束的时候旋转了360度*/
  }
}
.spin {
  animation: loading-360 1s infinite linear;
}